.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    a, p, span {
        font-weight: bold;
        color: #2c3e50;
        cursor: pointer;

        .router-link-exact-active {
            color: #42b983;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
    &:hover {
        text-decoration: underline;
    }
}

.main-nav-logo {
    display: flex;
    align-items: center;
}

.main-nav-logo-image {
    max-width: 100%;
    width: 200px;
}

.profile-container {
    display: flex;
    gap: 20px;
    .profile {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}